* {
  margin: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  font: 150%/150% calibri;
}
header {
  background-color: rgb(198, 244, 255);
  margin-bottom: 5px;
  padding: 5px;
}
.photoAvatar {
  width: 130px;
  height: 130px;
}
a {
  text-decoration: none;
  font: italic 80% Arial;
  color: black;
}
@keyframes color-change {
  0% {
    color: rgb(66, 65, 65);
  }
  30% {
    color: rgb(100, 100, 228);
  }
  60% {
    color: rgb(86, 180, 86);
  }
  90% {
    color: black;
  }
}
.shine > a {
  animation: color-change 10s infinite;
}
.wrapper {
  min-height: 55vh;
  padding: 5px;
}

ul {
  list-style-type: none;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  background-color: rgb(198, 244, 255);
  margin-top: 5px;
  padding: 5px;
}
.footerLogoRss {
  width: 100px;
  height: 100px;
}
