* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  font: 150%/150% calibri;
}
header {
  background-color: rgb(198, 244, 255);
  margin-bottom: 5px;
  padding: 5px;
  border: solid rgb(209, 209, 209) 1px;
}
.photoAvatar {
  width: 130px;
  height: 130px;
  border-radius: 100px; /* Радиус скругления */
  box-shadow: 0 0 0 1px rgb(209, 209, 209), 0 0 10px rgb(95, 171, 190); /* Параметры теней */
}
.shine > a {
  text-decoration: none;
  font: italic 80% Arial;
  color: black;
}
@keyframes color-change {
  0% {
    color: rgb(66, 65, 65);
  }
  30% {
    color: rgb(100, 100, 228);
  }
  60% {
    color: rgb(86, 180, 86);
  }
  90% {
    color: black;
  }
}
.shine > a {
  animation: color-change 10s infinite;
}
.wrapper {
  min-height: 54vh;
  padding: 5px 30px;
}
.wrapper > ul > li > section {
  line-height: 119%;
  font-size: 20px;
  padding: 5px;
  border-bottom: solid rgb(209, 209, 209) 1px;
}
ul {
  list-style-type: none;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  background-color: rgb(198, 244, 255);
  margin-top: 5px;
  border: solid rgb(209, 209, 209) 1px;
  padding-top: 5px;
}
.footerLogoRss {
  width: 100px;
  height: 100px;
}
