html {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
}
body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  margin: 0px;
}
.wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 1440px;
  margin: 0;
  box-shadow: 0 0 0 1px rgb(209, 209, 209), 0 0 50px rgb(96, 157, 172);
}
.photo {
  text-align: center;
}
.photoAvatar {
  width: 150px;
  height: 150px;
  border-radius: 100px; /* Радиус скругления */
  box-shadow: 0 0 0 1px rgb(209, 209, 209), 0 0 10px rgb(96, 157, 172);
}
.contacts {
  text-align: center;
  text-decoration: none;
  font-family: Poppins;
  font-style: italic;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: #ffffff;
  line-height: 30px;
  padding: 0px;
  padding-bottom: 15px;
  border: solid 1px #13547a;
  margin-bottom: 5px;
}
.shine {
  margin-left: -40px;
  list-style: none;
  padding: 0px;
}
.shine > a {
  text-decoration: none;
  color: black;
}
@keyframes color-change {
  0% {
    color: rgb(255, 255, 255);
  }
  30% {
    color: rgb(80, 80, 80);
  }
  60% {
    color: rgb(36, 36, 36);
  }
  90% {
    color: black;
  }
}
.shine > a {
  animation: color-change 15s infinite;
}

.content-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  padding: 0px 35px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 70px;
  letter-spacing: 0.03em;
  color: #13547a;
}
.content-main > section {
  margin-bottom: 30px;
}
.content-main > section > h3 {
  text-align: left;
  padding-left: 15px;
  text-decoration: underline;
  font-size: 25px;
  background: linear-gradient(45deg, #64b0b4, #80d0c7);
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}
.content-main > section > p {
  text-align: center;
  font-size: 20px;
  margin-top: 0px;
}
section ul > li > a {
  color: #13547a;
}
.side-bar {
  background-color: chartreuse;
  padding: 25px;
  padding-top: 5px;
  background: linear-gradient(45deg, #13547a, #80d0c7);
  align-items: center;
}
.icon-menu {
  background-image: url(images/icon-menu.png);
  display: none;
  background-repeat: no-repeat;
  width: 35px;
  height: 30px;
  background-color: #0000;
  border: none;
  cursor: pointer;
}
.page-nav {
  display: flex;
  width: 100%;
  border: solid 1px #13547a;
}
.ul_site-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 0;
}

.page-nav_item {
  width: 100%;
  list-style: none;
  padding: 10px 0;
}

.page-nav_item:hover {
  background-color: white;
  color: #13547a;
  transition: 2s;
}
.page-nav_link:hover {
  color: #13547a;
}

.progressbar {
  height: 20px;
  position: relative;
  background: #555;
  padding: 3px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.progressbar > span {
  display: block;
  height: 100%;
  background-color: rgb(43, 194, 83);
  background-image: linear-gradient(
    center bottom,
    rgb(43, 194, 83) 37%,
    rgb(84, 240, 84) 69%
  );
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}
.whack-a-mole {
  margin-top: 10px;
  background: #4dac64;
}

footer {
  display: flex;
  justify-content: space-around;
  width: 99vw;
  align-items: center;
  font-family: Poppins;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 0.5em;
  color: #42489e;
}
.footerLogoRss {
  width: 100px;
  height: 100px;
}
.page-nav_link {
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: #ffffff;
}

@media screen and (max-width: 1050px) {
  .wrapper {
    display: block;
  }
  .side-bar {
    padding-bottom: 0px;
    margin-bottom: 5px;
  }
  .icon-menu {
    display: block;
  }

  .icon-menu:hover {
    display: block;
  }
  .header-log {
    display: none;
  }
  .active {
    display: flex;
  }
}

@media screen and (max-width: 680px) {
  .whack-a-mole {
    width: 320px;
  }
  .mole {
    width: 300px;
  }
  .photoAvatar {
    width: 100px;
    height: 100px;
  }
  .contacts,
  .content-main .page-nav_item > a {
    font-size: 60%;
    border: none;
  }
  .page-nav {
    border: none;
  }
  .content-main > section > h3 {
    font-size: 80%;
  }
  .page-nav_item {
    padding: 0px;
  }
  .content-main > section > p {
    font-size: 80%;
  }
  .content-main > section {
    font-size: 80%;
    line-height: 25px;
  }
  .progressbar {
    height: 10px;
  }
  .hljs {
    text-align: center;
    line-height: 25px;
  }
  .page-nav_item > a {
    font-size: 80%;
  }
}

@media screen and (max-width: 540px) {
  .contacts,
  .content-main .page-nav_item > a {
    font-size: 50%;
  }
  .content-main > section > h3 {
    font-size: 70%;
  }
  .content-main > section > p {
    font-size: 70%;
  }
  .content-main > section {
    font-size: 40%;
  }
  .progressbar {
    height: 10px;
  }
  .page-nav_item > a {
    font-size: 70%;
  }
  .side-bar {
  }
  .icon-menu {
    margin-left: 15px;
  }
}
